.jianpai li img{
            vertical-align:middle;
        }
        
        
        
        

        .rsule p{
            color: rgb(179, 159, 99);
            font-family: "宋体";
            font-size: 12px;
           line-height: 30px;
           
            
        }
        .headers-rsule ul{
            display: flex;
        }
        .headers-rsule ul li{
            list-style: none;
            padding: 0  3px;
        }
        .bei li{
            margin:  0 auto;
            position: relative;
            top: -26px;
            font-size: 12px;
        }
       
        .page{
            display: flex;
            color: rgb(179, 159, 99);
            font-family: "宋体";
            font-size: 14px;
            margin-left: 500px;
            margin-top: 10px;
        }
        .page li{
            padding: 0 5px;
        }
        .huawen{
            width: 955px;
            margin: 0 auto;
        }
        .footer ul li{
            margin-left: 10px;

            
        }
        .footer ul{
            margin-left: 100px;
        }
        .zhuanjia{
            border-left: 6px rgb(223,202,165) solid;
            border-top: 2px rgb(223,202,165) solid;
            border-bottom: 2px rgb(223,202,165) solid;
            border-right: 2px rgb(223,202,165) solid;
            width: 650px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .zhuanjia h3{
           margin-left: 20px;
           position: relative;
           top: 10px;
           left: 25px;
           color: rgb(94, 57, 11);
        }
        .zhuanjia p{
            font-size: 12px;
            color: rgb(94, 57, 11);
            text-indent: 2em;
            margin-top: 20px;
            line-height: 20px;
           
        }
        .zhuanjia img{
            margin:  25px 10px;
            box-shadow:  rgb(94, 57, 11) 2px 2px 5px 0px;
           

        }