 <div class="huawen">
                <img src="./static/img/t.png" alt="">
        </div>
        <div style="width: 955px;height: 70px; margin: 0 auto;" class="footer">
                <ul style="display: flex;">
                    <li><img src="./static/img/jianjie/09.png" style="margin-top: 16px;"></li>
                    <li><img src="./static/img/jianjie/11.png"></li>
                    <li><img src="./static/img/jianjie/12.png"></li>
                    <li><img src="./static/img/jianjie/13.png"></li>
                    <li><img src="./static/img/jianjie/14.png"></li>
                </ul>
        
        </div>
                
        <div style="width: 955px;margin: 0 auto;height: 33px;">
            <p style="text-align: center;font-weight: bolder;color:rgb(122, 75, 68)"><?php echo $rows['conf_copy'] ?></p>
        </div>
    </div>
    
        

         

   </div>
   </body>
</html>