
    
    <link rel="stylesheet" href="./static/css/home.css">
    <link rel="stylesheet" href="./static/css/zhuanjia.css">
    
            <!--content-->
            <div style="clear: both;"> </div>
            <div class="content">
                <div class="left"> 
                    <!-- lianxi-->
                        <div class="lianxi">
                              <p>
                                    <span style="margin-left:60px;font-size: 20px;">报名方式</span><br />
                                     <?php if(isset($titleinfo)) {foreach($titleinfo as $v){ ?>
                                            <p style="line-height: 25px"><?php echo $v; ?></p>
                                     <?php } }?>
                                      <?php if(isset($titleinfo)) {foreach($telinfo as $v){ ?>
                                        <p style="text-indent:2em;line-height: 25px"><?php echo $v; ?></p>
                                      <?php } } ?>
                                </p>
                        </div>
                        <!---->
                        <div >
                           <img src="./static/img/index/coffice.png" alt="" style="vertical-align:middle"><a href="<?php echo $logininfo['url'] ?>" style="color: darkgoldenrod;text-decoration: none;"><?php echo $logininfo['name'] ?></a>
                            <img src="./static/img/index/liping.png" alt="" style="vertical-align:middle"><a href="<?php echo $loginname['url'] ?>" style="color: darkgoldenrod;text-decoration: none;"><?php echo $loginname['name'] ?></a>
                        </div>
                        <!--qrcodeinfo-->
                        <div class="qrcodeinfo">
                                <ul>
                                   <li>
                                        <img src="<?php echo $signup['sign_wxcode'] ?>"><br/>
                                        <p style="margin-left: 35px;">关注微信</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo $signup['sign_sncode'] ?>"><br/>
                                        <p style="margin-left: 35px;">新浪微博</p>
                                    </li>
                                </ul>
                        </div>

                        <!-- lipinghe-->
                        <div class="lipinghe">
                            <img src="./static/img/jianjie/08.png" alt="">
                        </div>

                </div>
                <div class="right">
                    <div style="height: 18px;"></div>
                    <div>
                            <p style="text-align: center; font-family: '黑体';font-size: 23px;">专家阵容</p>
                            <img src="./static/img/jianjie/45_03.png" alt="">
                    </div>

                    <?php foreach($newsinfo['data'] as $v){ ?>
                     <div class="zhuanjia">
                         <h3><?php echo $v['expert_name'] ?></h3>
                         <img src="<?php echo $v['expert_img'] ?>" alt="" style="float: left;">
                         <p style="">
                           <?php echo $v['expert_Title'] ?>
                         </p>
                         <p> <?php echo $v['expert_desc'] ?></p>
                        

                     </div>

                     <?php } ?>
                    
                
                  
                        
                   
                       
                        <!--分页-->
                        <?php echo $newsinfo['page'] ?>
                    </div>
                </div>
               